.ui_container {
    background-color: #fafafa;
    border-top: 1px #e0e0e0 solid;
    border-bottom: 1px #e0e0e0 solid;
}

.btn {
    position: relative;
    display: inline-block;
    background-color: #fafafa;
    width: 2em;
    height: 2em;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #efefef;
}

.btn_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sep_line {

}

.combo {
    position: relative;
    display: inline-block;
    background-color: #fafafa;
    height: 2em;
}

.combo > .combo_input {
    width: 4em;
    height: 1em;
}

.combo > .combo_btn {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    content: '>';
}

.input {

}

.on {
    background-color: #efefef;
}

.bold {

}

.italic {

}

.underline {

}

.strike_through {

}